# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
DB_URL=postgresql://postgres:password@db:5432/postgres?schema=public

# API
API_KEY=SECRET_KEY_HERE_123456789
API_URL=http://api:4000

# Discord
DISCORD_CLIENT_SECRET=secret
DISCORD_CLIENT_ID=id_123456789
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord

# Account
CROCO_USERNAME=account-username
CROCO_PASSWORD=account-password