# Optional jklm account auth (leave empty for guest hosting via creatorUserToken)
JKLM_AUTH_TOKEN=
JKLM_AUTH_USERNAME=
JKLM_AUTH_EXPIRATION=2982251755416
JKLM_NICKNAME=BirdBot
JKLM_LANGUAGE=en-US

# BirdBot API
API_URL=http://localhost:4000
API_KEY=SECRET_KEY_HERE_123456789

# Namespace UUID
NAMESPACE_UUID=aba77089-9d04-4817-9bd3-b9883b75bebf
