# Dependencies
node_modules

# Environment variables
.env

# Private classes, like the working network adapter
src/lib/class/private/

# Unstable scripts that change very often
src/index.unstable.ts

# Build files
dist/

# Data folder
.data/

# Resources
resources/*

# Admins
admins.txt
!admins.example.txt